body {
    background-color: lightgray;
}

body {
    text-align: center;
    font-family: "Trebuchet MS";
    font-size: 15px;
    font-weight: bold;
}

table {
    margin: auto;
    padding: 0;
    display: block;
    width: 800px;
}

td.canvas {
    width: 600px;
}

td.info {
    width: 200px;
    border: 3px dotted black;
}

input {
    width: 30px;
}

canvas {
    margin: auto;
    padding: 0;
    display: block;
    width: 600px;
}